<!-- <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary ">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-sidebar">
            <span class="navbar-toggler-icon">Настр.</span>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" placeholder="Меню" > Меню</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.index') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.wh') }}">Склад</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Статистика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Документы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#col-sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
              </svg>
            <span class="menu-btn__text">Функц</span>
        </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin.index') }}">Главная</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url_for('admin.wh') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Склад
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Категории</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('admin.products_list', list_item_type='flower') }}">Базовые цветы</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('admin.products_list', list_item_type='bouquet') }}">Букеты</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" href="#">Подарки</a></li>
                    <li><a class="dropdown-item" href="#">Оформление</a></li>
                  </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Статистика</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Документы</a>
            </li>
        </ul>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
      </div>
    </div>
  </nav>