  <div class="dropdown mb-3">
    <select class="form-select" name="warehouse" id="warehouse">
        <option value="all_wh">Все склады</option>
        <option value="lc_wh">Чайкиной</option>
        <option value="dz_wh">Дзержинского</option>
    </select>
  </div>
  <hr>
  </li><a href="{{ url_for('admin.wh_item', item_type='bouquet') }}" class="nav-link {{ 'active' if request.path == url_for('admin.wh_item', item_type='bouquet') else '' }}" aria-current="page">
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-6">+ Новый букет</span>
  </a>
  </li><a href="{{ url_for('admin.wh_item', item_type='flower') }}" class="nav-link {{ 'active' if request.path == url_for('admin.wh_item', item_type='flower') else '' }}" aria-current="page">
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-6">+ Новый цветок</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="{{ url_for('admin.products_list') }}" class="nav-link {{ 'active' if request.path == url_for('admin.products_list') and not request.args.get('list_item_type') else '' }}" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Все товары
        </a>
    </li>
    <li>
        <a href="{{ url_for('admin.products_list', list_item_type='bouquet') }}" class="nav-link {{ 'active' if request.args.get('list_item_type') == 'bouquet' else '' }}">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Букеты
        </a>
    </li>
    <li>
        <a href="{{ url_for('admin.products_list', list_item_type='flower') }}" class="nav-link {{ 'active' if request.args.get('list_item_type') == 'flower' else '' }}">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Базовые цветы
        </a>
    </li>
    <li>
        <a href="#" class="nav-link {{ 'active' if request.path == url_for('admin.category_list') else '' }}">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Категории
        </a>
    </li>
    <li>
        <a href="#" class="nav-link {{ 'active' if request.path == url_for('admin.gift_list') else '' }}">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Подарки
        </a>
    </li>
    <li>
        <a href="#" class="nav-link {{ 'active' if request.path == url_for('admin.decoration_list') else '' }}">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Оформление
        </a>
    </li>
</ul>

  <hr>
