body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    padding: 2em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
    width: 300px;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: .5em;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #800080;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.password-reminder {
    font-size: 0.9em;
    color: #666;
}

.password-error {
    color: red;
    display: none; /* Измените на display: block, если пароль неверен */
}
