<html lang='ru'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{ title|default('Админ панель') }}</title>
    <link rel='stylesheet' href='{{ url_for('admin.static', filename='admin/style.css') }}'>
    <!-- Включение стилей хидера -->
    <link rel='stylesheet' href='{{ url_for('admin.static', filename='admin/header.css') }}'>
    <link rel='stylesheet' href='{{ url_for('admin.static', filename='admin/sidebar_style.css') }}'>
</head>
<body>
    {% include 'admin/header.html' %}
    <div class='container'>
        {% include 'admin/sidebar.html' %}
        <div class='content'>
            {% block content %}{% endblock %}
        </div>
    </div>
<script>
    function toggleMenu() {
        var nav = document.querySelector('nav');
        nav.classList.toggle('active');
    }
    </script>        
</body>
</html>
