{% extends "admin/warehouse/wh_base.html" %}

{%block content%}
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Text & Subtext</th>
        <th>Название</th>
        <th>Стоимость</th>
        <th>SKU</th>
        <th>Icon</th>
      </tr>
    </thead>
    <tbody>
      <!-- Здесь будут строки товаров, которые можно генерировать через цикл Jinja -->
      {% for item in items %}
      <tr>
        <td>{{ item.id }}</td>
        <td><img src="{{ item.image_url }}" alt="item image"></td>
        <td>{{ item.text }}<br>{{ item.subtext }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.sku }}</td>
        <td><!-- Иконка --></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{%endblock%}