<!DOCTYPE html>
<html>
<head>
    <title>Привествую!</title>
    <body>
        <H1> Привет, незнакомец! Т.к ты попал сюда ты явно быть здесь не должен. Потому, я тебе расскажу пару анекдотов про тупых хакеров </h1>
<!-- Далее идет html код со списком 3 анекдота про тупых хакеров -->
<!-- Начало списка -->
<ul>1: Жил был тупой хакер и решил он залезть куда не надо. Но он никогда не вышел</ul>
<ul>2: Пред лицом смерти все глупые хакеры пошли нахуй, но один из них стал смеяться в ответ. Он вышел нахуй через костыль в жепе</ul>
<ul>3: Когда тупой хакер решил взломать этот сайт, у него зачесалась жепа. Это у него хер в жопе завибрировал.</ul>
Фьють ха! 
<!-- Конец списка -->
    </body>
</html>
